.callback-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75vh;
}

.callback-title {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 2.5rem;

}

.callback-text {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}