.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75vh;
}

.profile-title {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 2.5rem;

}

.profile-subheader {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.profile-track-items {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    margin-bottom: 5px;
}